<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeeting
           
<div class="MeetingList">
    <!-- header -->
    <h3 class="Header">@Html.DisplayFor(m => m.name)</h3>
     
    <!-- fields -->
    <span class="field" >Description: @Html.DisplayFor(m => m.description)</span>
    <br />
    <br />
    <span class="field">Beginning date: @Html.DisplayFor(m => m.dateBegin)</span>
    <br />
    <span class="field">Ending date: @Html.DisplayFor(m => m.dateEnd)</span>
    <br />
    <span class="field">Location - Latitude: @Html.DisplayFor(m => m.locationLati)</span>
    <br />
    <span class="field">Location - Longitude: @Html.DisplayFor(m => m.locationLong)</span>
    <br />
    <span class="field">Min quorum: @Html.DisplayFor(m => m.minQuorum)</span>
    <br />
    <span class="field">Attendance: @Html.DisplayFor(m => m.numberAttendants)</span>
    <br />
    
    @{
        if (@Model.themeCategories != null && Model.themeCategories.Length >= 1) {
            <br />
            <p>
                Theme categories:
                <br />
                @Html.DisplayFor(m => m.themeCategories)
            </p>
        }
    }
    

    <!-- attendance buttons -->
    @using (Html.BeginForm(new { id = @Model.id }))
    {
        if (@Model.myAttendance != 1)
        {
            <input class="boton-big-red MeetingButton" type="submit" name="buttonDoAttend" value="Do attend" />
        }

        if (Model.myAttendance != 0)
        {
            <input class="boton-big-red MeetingButton" type="submit" name="buttonDontAttend" value="Don't attend" />
        }

        if (Model.myAttendance != -1)
        {
            <input class="boton-big-red MeetingButton" type="submit" name="buttonUnconfirmAttendance" value="Unconfirm attendance" />
        }
    }
</div>
