<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeeting
           
<div>
     <h3>@Html.DisplayFor(m => m.name)</h3>
     <br />
     Internal ID: @Html.DisplayFor(m => m.id)
     <br />
     Movement ID: @Html.DisplayFor(m => m.idMovement)
     <br />
     Description: @Html.DisplayFor(m => m.description)
     <br />
     Location - Latitude: @Html.DisplayFor(m => m.locationLati)
     <br />
     Location - Longitude: @Html.DisplayFor(m => m.locationLong)
     <br />
     Min quorum: @Html.DisplayFor(m => m.minQuorum)
     <br />
</div>
