<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeetingNotification
           
<script src="/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
<script  type="text/javascript">
    function ampliar(id) {
        if ($("#" + id.toString() + "sign").text() == "+") {
            $("#" + id.toString() + "sign").text("-");
            $("." + id.toString() + "sign").css("margin-left", "10px");
            $("." + id.toString() + "signdiv").css("width", "25px");
            $("." + id.toString() + "s").css("overflow", "auto");
            $("." + id.toString() + "s").css("height", "220px");
            $("." + id.toString() + "m").css("height", "370px");
            $("." + id.toString() + "h").show();
        }
        else {
            $("#" + id.toString() + "sign").text("+");
            $("." + id.toString() + "sign").css("margin-left", "9px");
            $("." + id.toString() + "signdiv").css("width", "28px");
            $("." + id.toString() + "s").css("overflow", "hidden");
            $("." + id.toString() + "s").css("height", "90");
            $("." + id.toString() + "m").css("height", "165px");
            $("." + id.toString() + "h").hide();
        }
    }
</script>
<div class="MeetingList @Model.id.ToString().Insert(Model.id.ToString().Count(), "m")">
    <!-- header -->

    <h3 class="Header">@Html.DisplayFor(m => m.name)</h3>
    
    <div class="ampliar @Model.id.ToString().Insert(Model.id.ToString().Count(),"signdiv")" onclick="ampliar(@Model.id);">
         <label class="ampliarText @Model.id.ToString().Insert(Model.id.ToString().Count(), "sign")" id="@Model.id.ToString().Insert(Model.id.ToString().Count(), "sign")">
            +
         </label> 
    </div>

    <span class="BeginDateField">Begining:</span><div class="fieldvalue field BeginDateValue"><span>@Model.dateBegin.ToShortDateString()</span></div>

    <img class="image" src="@Url.Content("~/Content/Images/Thumb/" + ((@Model.imagePath != null && @Model.imagePath != "") ? @Model.imagePath.ToString().Replace(".jpg", "_90.jpg") : "meeting_default.jpg"))" alt="Image" />

    <div class="scrollable @Model.id.ToString().Insert(Model.id.ToString().Count(),"s")">
        <table class="list" border="0" rules="none">
            <!-- fields -->
            <tr class="field"><td class="field"><span>Description: </span></td><td class="field"><div class="fieldvalue">@Html.DisplayFor(m => m.description)</div></td></tr>
            
            <tr class="field"><td class="field"><span>Attendance: </span></td><td class="field"><div class="fieldvalue">@Html.DisplayFor(m => m.numberAttendants)</div></td></tr>

            <tr class="field"><td class="field"><span>Ending date: </span></td><td class="field"><div class="fieldvalue">@Html.DisplayFor(m => m.dateEnd)</div></td></tr>    
    
        </table>
        <div class="hide @Model.id.ToString().Insert(Model.id.ToString().Count(), "h")">
            <table class="list" border="0" rules="none">
                <tr class="field"><td class="field"><span>Location - Latitude: </span></td><td class="field"><div class="fieldvalue">@Html.DisplayFor(m => m.locationLati)</div></td></tr>
    
                <tr class="field"><td class="field"><span>Location - Longitude: </span></td><td class="field"><div class="fieldvalue">@Html.DisplayFor(m => m.locationLong)</div></td></tr>
    
                <tr class="field"><td class="field"><span>Min quorum: </span></td><td class="field"><div class="fieldvalue">@Html.DisplayFor(m => m.minQuorum)</div></td></tr>    
    
            </table>
    
            @{
                if (@Model.themeCategories != null && Model.themeCategories.Length >= 1) {
                    <br />
                    <div class="tableCategories">
                        Categories:
                        <br />
                        @Html.DisplayFor(m => m.themeCategories)
                    </div>
                }
            }
        </div>
    </div>

    <!-- attendance buttons -->
    
    @if (ViewBag.UserIsRegUser)
    {
        <div class="MeetingButton">
        @using (Html.BeginForm(new { id = @Model.id }))
        {

            if (@Model.myAttendance != 1)
            {
                <input class="boton-big-red" type="submit" name="buttonDoAttend" value="Do attend" />
            }

            if (Model.myAttendance != 0)
            {
                <input class="boton-big-red" type="submit" name="buttonDontAttend" value="Don't attend" />
            }

            if (Model.myAttendance != -1)
            {
                <input class="boton-big-red" type="submit" name="buttonUnconfirmAttendance" value="Unconfirm attendance" />
            }
            
            <br />
            
            <input class="boton-big-red" type="submit" name="buttonRemove" value="Delete notification" />
        }
        </div>
    }
</div>
