<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeeting
           
<div>
    <!-- header -->
    <h3>@Html.DisplayFor(m => m.name)</h3>
     
    <!-- fields -->
    @Html.DisplayFor(m => m.description)
    <br />
    <br />
    Beginning date: @Html.DisplayFor(m => m.dateBegin)
    <br />
    Ending date: @Html.DisplayFor(m => m.dateEnd)
    <br />
    Location - Latitude: @Html.DisplayFor(m => m.locationLati)
    <br />
    Location - Longitude: @Html.DisplayFor(m => m.locationLong)
    <br />
    Min quorum: @Html.DisplayFor(m => m.minQuorum)
    <br />
    Attendance: @Html.DisplayFor(m => m.numberAttendants)
    <br />
    
    @{
        if (@Model.themeCategories.Length >= 1) {
            <br />
            <p>
                Theme categories:
                <br />
                @Html.DisplayFor(m => m.themeCategories)
            </p>
        }
    }
    

    <!-- attendance buttons -->
    @using (Html.BeginForm(new { id = @Model.id }))
    {
        if (@Model.myAttendance != 1)
        {
            <input type="submit" name="buttonDoAttend" value="Do attend" />
        }

        if (Model.myAttendance != 0)
        {
            <input type="submit" name="buttonDontAttend" value="Don't attend" />
        }

        if (Model.myAttendance != -1)
        {
            <input type="submit" name="buttonUnconfirmAttendance" value="Unconfirm attendance" />
        }
    }
</div>
