<!-- model -->
@model IndignadoWeb.SysAdminServiceReference.DTMovement
           

<li class="item">
    <div class="shadowl">
        <div class="shadowr">
            <div class="int">
                <div class="title">
                    <h3>@Html.DisplayFor(m => m.name)</h3>
                </div>
                <!-- header -->
    
                <div class="body">
                    <div class="desc" style="margin-top:5px; margin-bottom:10px;">
                        

                        Description: @Html.DisplayFor(m => m.description)
                              
                    </div>

                    <div class="footer">
                        Internal ID: <b>@Html.DisplayFor(m => m.id)</b> | 
                        Sub Domain: <b>@Html.DisplayFor(m => m.subURL)</b> | 
                        Location - Latitude: <b>@Html.DisplayFor(m => m.locationLati)</b> | 
                        Location - Longitude: <b>@Html.DisplayFor(m => m.locationLong)</b>

                        <div class="report">
                            <!-- enable / disable -->
                            @using (Html.BeginForm(new { id = @Model.id }))
                            {
                                if (Model.habilitado)
                                {
                                    <input type="submit" class="reportbtn" name="buttonDisable" value="Disable movement" />
                                }

                                else
                                {
                                    <input type="submit" class="reportbtn" name="buttonEnable" value="Enable movement" />
                                }
                            }
                        </div>
                    </div>
            </div>
        </div>
    </div>
</li>
