<!-- model -->
@model IndignadoWeb.SysAdminServiceReference.DTMovement
<div>
     <h3>@Html.DisplayFor(m => m.name)</h3>
     <br />
     Internal ID: @Html.DisplayFor(m => m.id)
     <br />
     Description: @Html.DisplayFor(m => m.description)
     <br />
     Location - Latitude: @Html.DisplayFor(m => m.locationLati)
     <br />
     Location - Longitude: @Html.DisplayFor(m => m.locationLong)
     <br />
     Admin nick: @Html.DisplayFor(m => m.adminNick)
     <br />
     Admin mail: @Html.DisplayFor(m => m.adminMail)
     <br />
</div>
