<!-- model -->
@model IndignadoWeb.SysAdminServiceReference.DTMovement
<div>
     <h3>@Html.DisplayFor(m => m.name)</h3>
     
     Internal ID: @Html.DisplayFor(m => m.id)
     <br />
     Description: @Html.DisplayFor(m => m.description)
     <br />
     Location - Latitude: @Html.DisplayFor(m => m.locationLati)
     <br />
     Location - Longitude: @Html.DisplayFor(m => m.locationLong)
     <br />
     Sub Domain: @Html.DisplayFor(m => m.subURL)
     <br />

     <!-- enable / disable -->
    @using (Html.BeginForm(new { id = @Model.id }))
    {
        if (Model.habilitado)
        {
            <input type="submit" class="reportbtn" name="buttonDisable" value="Disable movement" />
        }

        else
        {
            <input type="submit" class="reportbtn" name="buttonEnable" value="Enable movement" />
        }
    }
</div>
