<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTResource_MovAdmin
           
<div>
    <!-- header -->
    <h3><a href="@Html.DisplayFor(m => m.urlLink)">@Html.DisplayFor(m => m.title)</a></h3>
    
    <table border-style="none">
        <tr>
            <td valign="top">
                <!-- fields -->
                @Html.Raw(HttpUtility.HtmlDecode(Model.description))
                <br />
                <br />
                Date: @Html.DisplayFor(m => m.date)
                <br />
                User: @Html.DisplayFor(m => m.username)
                <br />
                Likes: @Html.DisplayFor(m => m.numberLikes)
                <br />
                Marks as inappropriate: @Html.DisplayFor(m => m.numberMarksInappr)
                
                <!-- image -->
                @{
                    if ((@Model.urlImage != null) && (@Model.urlImage != ""))
                    {
                        <text>
                            <br />
                            <br />
                            <img src="@Html.DisplayFor(m => m.urlImage)" width="400" alt=""/>
                        </text>
                    }
                }
                
                <!-- video -->
                @{
                    if ((@Model.urlVideo != null) && (@Model.urlVideo != ""))
                    {
                        <text>
                            <br />
                            <br />
                            <iframe src="@Html.DisplayFor(m => m.urlVideo)" frameborder="0" width="400" height="300"></iframe>
                        </text>
                    }
                }
            </td>
            <td valign="top">
                <!-- thumbnail -->
                <img src="@Html.DisplayFor(m => m.urlThumb)" width="120px"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <!-- enable / disable -->
                @using (Html.BeginForm(new { id = @Model.id, userId = @Model.idUser }))
                {
                    if (@Model.disabled == 0)
                    {
                        <input type="submit" name="buttonDisable" value="Disable resource" />
                    }

                    else
                    {
                        <text><b>Resource disabled</b></text>
                        <input type="submit" name="buttonEnable" value="Enable resource" />
                    }
                }
            </td>
        </tr>
    </table>
</div>