<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTResource_NewsResources

<li class="item" style="width:620px;">
    <div class="shadowl">
        <div class="shadowr">
            <div class="int">
                <!-- header -->
                <div class="title">
                    <h3><a href="@Html.DisplayFor(m => m.urlLink)">@Html.DisplayFor(m => m.title)</a></h3>
                </div>

                <div class="body">
                    <!-- fields -->
                    @Html.Raw(HttpUtility.HtmlDecode(Model.description))
                    
                
                    <!-- image -->
                    @if ((@Model.urlImage != null) && (@Model.urlImage != ""))
                    {
                            <div class="img">
                                <img src="@Html.DisplayFor(m => m.urlImage)" width="400" alt=""/>
                            </div>
                    }
                
                    <!-- video -->
                    @{
                        if ((@Model.urlVideo != null) && (@Model.urlVideo != ""))
                        {
                            <text>
                                <br />
                                <br />
                                <iframe style="margin:0 20px" src="@Html.DisplayFor(m => m.urlVideo)" frameborder="0" width="560" height="315"></iframe>
                            </text>
                        }
                    }

                    @if ((@Model.urlThumb != null) && (@Model.urlThumb != ""))
                    {
                        <td valign="top">
                            <!-- thumbnail -->
                            <img src="@Html.DisplayFor(m => m.urlThumb)" width="120px"/>
                        </td>
                    }
                    
                    <div class="likes">
                        <!-- likes -->
                        @using (Html.BeginForm(new { id = @Model.id }))
                        {
                            <text>Likes: </text> @Html.DisplayFor(m => m.numberLikes);
                            
                            if (ViewBag.UserIsRegUser)
                            {
                                if (@Model.iLikeIt == 0)
                                {
                                    <input type="submit" class="likebtn" name="buttonLike" value="Like" />
                                }

                                if (@Model.iLikeIt > 0)
                                {
                                    <input type="submit" class="likebtn2"  name="buttonUnlike" value="Unlike" />
                                }
                            }
                        }
                    </div>

                    
                    <div class="clear"></div>
                    <div class="footer">
                        Date: @Html.DisplayFor(m => m.date)
                        <div class="user">
                            by @Html.ActionLink("" + @Html.DisplayFor(m => m.username), "UserDetails", new { id = @Model.idUser })
                        </div>
                        
                        @if (ViewBag.UserIsRegUser)
                        {
                        <div class="report">
                            <!-- report -->
                            @using (Html.BeginForm(new { id = @Model.id }))
                            {
                                if (@Model.myMarkInappr == 0)
                                {
                                    <input type="submit" class="reportbtn" name="buttonMarkInappr" value="Mark as inappropriate" />
                                }

                                if (Model.myMarkInappr > 0)
                                {
                                    <input type="submit" class="reportbtn" name="buttonUnmarkInappr" value="Unmark as inappropriate" />
                                }
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<br />