<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTResource_NewsResources

<li class="item" style="width:620px;">
    <div class="shadowl">
        <div class="shadowr">
            <div class="int">
                <!-- header -->
                <div class="title">
                    @if ((@Model.urlLink != null) && (@Model.urlLink != ""))
                    {
                        <h3><a href="@Model.urlLink">@Model.title</a></h3>
                    }
                    else
                    {
                        <h3>@Model.title</h3>
                    }
                </div>

                <div class="body">
                    <!-- fields -->
                    @Html.Raw(HttpUtility.HtmlDecode(Model.description))
                    
                    <!-- image -->
                    @if ((@Model.urlImage != null) && (@Model.urlImage != ""))
                    {
                        <div class="img">
                            <img src="@Html.DisplayFor(m => m.urlImage)" width="400" alt=""/>
                        </div>
                    }
                
                    <!-- video -->
                    @{
                        if ((@Model.urlVideo != null) && (@Model.urlVideo != ""))
                        {
                            <text>
                                <br />
                                <br />
                                <iframe style="margin:0 20px" src="@Html.DisplayFor(m => m.urlVideo)?wmode=transparent" frameborder="0" width="560" height="315"></iframe>
                            </text>
                        }
                    }

                    @if ((@Model.urlThumb != null) && (@Model.urlThumb != ""))
                    {
                        <td valign="top">
                            <!-- thumbnail -->
                            <img src="@Html.DisplayFor(m => m.urlThumb)" width="120px"/>
                        </td>
                    }
                    
                    <div class="likes mwidth">
                        <!-- likes -->
                            <div class="floatL likesn">
                            <text>Likes: </text> <label id="@Model.id">@Model.numberLikes</label></div>
                            
                            <div class="floatL" id="@Model.id.ToString().Insert(Model.id.ToString().Count(), "like")">
                            @if (ViewBag.UserIsRegUser)
                            {
                                if (@Model.iLikeIt == 0)
                                {
                                    <input type="button" class="removableLike likebtn" name="buttonLike" onclick="like('0','@Model.id',@Model.numberLikes);" value="Like" />
                                }

                                if (@Model.iLikeIt > 0)
                                {
                                    <input type="button" class="removableLike likebtn2"  name="buttonUnlike" onclick="like('1','@Model.id',@Model.numberLikes);" value="Unlike" />
                                }
                            }
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                    <div class="footer">
                        <!-- date -->
                        Date: @Model.date.ToString("yyyy-MM-dd HH:mm")
                        
                        <!-- author -->
                        <div class="user">
                            @{
                                if (ViewBag.UserIsMovAdmin)
                                {
                                    <text>
                                    by @Html.ActionLink("" + @Model.username, "UserDetails", "MovAdmin", new { id = @Model.idUser }, null)
                                    </text>
                                }
                                else
                                {
                                    <text>
                                    by @Html.ActionLink("" + @Model.username, "ResourcesListUser", new { id = @Model.idUser, currentPage = 1 })
                                    </text>
                                }
                            }
                        </div>
                        
                        @if (ViewBag.UserIsRegUser)
                        {
                        <div class="report">
                            <!-- report -->
                            @using (Html.BeginForm(new { id = @Model.id }))
                            {
                                if (@Model.idUser != @ViewBag.idUser)
                                {
                                    if (@Model.myMarkInappr == 0)
                                    {
                                        <input type="submit" class="reportbtn" name="buttonMarkInappr" value="Mark as inappropriate" />
                                    }

                                    if (Model.myMarkInappr > 0)
                                    {
                                        <input type="submit" class="reportbtn" name="buttonUnmarkInappr" value="Unmark as inappropriate" />
                                    }
                                }
                                else
                                {
                                    <input type="submit" class="reportbtn" name="buttonRemove" value="Remove" />
                                }
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<br />