<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTResource
           
<div>
     <h3>@Html.DisplayFor(m => m.title)</h3>
     <br />
     D1: @Html.DisplayFor(m => m.description)
     <br />
     Description: @Html.Raw(HttpUtility.HtmlDecode(Model.description))
     <br />
     <br />
     ID: @Html.DisplayFor(m => m.id)
     <br />
     User: @Html.DisplayFor(m => m.idUser)
     <br />
     URL: @Html.DisplayFor(m => m.link)
     <br />
     Thumbnail: @Html.DisplayFor(m => m.thumbnail)
     <br />
     Date: @Html.DisplayFor(m => m.date)
     <br />
     Likes: @Html.DisplayFor(m => m.numberLikes)
     <br />
</div>
