<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTRssItem
           
<div>
    <h3><a href="@Html.DisplayFor(m => m.link)" />@Html.DisplayFor(m => m.title)</a></h3>
    <table border-style="none">
        <tr>
            <td valign="top">
                Date: @Html.DisplayFor(m => m.date)
                <br />
                D1: @Html.DisplayFor(m => m.description)
                <br />
                Description: @Html.Raw(HttpUtility.HtmlDecode(Model.description))
            </td>
            <td valign="top">
                <img src="@Html.DisplayFor(m => m.image)" width="120px"/>
            </td>
        </tr>
    </table>
    <br />
</div>
