<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTRssSource
           
<div>
    <!-- header -->
    <h3>@Html.DisplayFor(m => m.title)</h3>
     
    <!-- fields -->
    Tag: @Html.DisplayFor(m => m.tag)
    <br />
    URL: <a href="@Html.DisplayFor(m => m.url)">@Html.DisplayFor(m => m.url)</a>
    <br />
    
    <!-- remove button -->
    @using (Html.BeginForm(new { url = @Model.url, tag = @Model.tag }))
    {
        <input type="submit" class="boton-big-red" name="buttonRemove" value="Remove source" />
    }
</div>
