<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTRssSource
           
<div class="RssSource" id="@Model.tag.ToString().Insert(Model.tag.ToString().Count(),Model.url.Replace(" ","").Replace("/","").Replace(".","").Replace(":",""))">
    <!-- header -->
    <h4 class="RssTitle">@Html.DisplayFor(m => m.title)</h4>
     
    <!-- fields -->
    Tag: <label class="RssField">@Model.tag</label>
    <br />
    URL: <a href="@Html.DisplayFor(m => m.url)" class="RssField">@Model.url</a>
    <br />
    
    <!-- remove button -->
    
        <input type="button" class="RssButton" name="buttonRemove" value="Remove source" onclick="RemoveRssSource('@Model.url','@Model.tag', '@Model.url.Replace(" ","").Replace("/","").Replace(".","").Replace(":","")');" />
    
</div>
