<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTRssItem
           
<li class="item">
    <div class="shadowl">
        <div class="shadowr">
            <a class="int" href="@Html.DisplayFor(m => m.sourceUrl)" target="_blank">
                <div class="title">
                    <h3>@Html.DisplayFor(m => m.title)</h3>
                </div>
                <!-- header -->
    
                <div class="body">
                    @if ((@Model.image != null) && (@Model.image != "")) {
                        <div class="img">
                            <img src="@Html.DisplayFor(m => m.image)" width="120px"/>
                        </div>
                    }
                    <div class="desc">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.description))     
                    </div>
                    <div class="footer">
                        Date: @Model.date.ToString("yyyy-MM-dd HH:mm")

                        <div class="user">
                            by @Model.sourceTitle
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</li>
<br />