<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTRssItem
           
<div>
     <h3>@Html.DisplayFor(m => m.title)</h3>
     <br />
     D1: @Html.DisplayFor(m => m.description)
     <br />
     Description: @Html.Raw(HttpUtility.HtmlDecode(Model.description))
     <br />
     <br />
     Date: @Html.DisplayFor(m => m.date)
     <br />
     URL: @Html.DisplayFor(m => m.link)
     <br />
     Image: @Html.DisplayFor(m => m.image)
     <br />
</div>
