<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTThemeCategoryMovAdmin
           
<div>
    <!-- header -->
    <h3>@Html.DisplayFor(m => m.title)</h3>
     
    <!-- fields -->
    Internal ID: @Html.DisplayFor(m => m.id)
    <br />
    Movement ID: @Html.DisplayFor(m => m.idMovement)
    <br />
    Description: @Html.DisplayFor(m => m.description)
    <br />
    
    <!-- interest buttons -->
    @using (Html.BeginForm(new { id = @Model.id }))
    {
        if (@Model.myInterest == 0)
        {
            <input type="submit" name="buttonRemove" value="Remove theme category" />
            <br />
        }

        else
        {
            if (@Model.myInterest != 1)
            {
            <input type="submit" name="buttonImInterested" value="I'm interested" />
            <br />
            }

            if (Model.myInterest != -1)
            {
            <input type="submit" name="buttonNotInterested" value="Not interested" />
            <br />
            }
        }
    }
</div>
