<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTThemeCategoryMovAdmin
           
<div class="Theme" id="@Model.id" >
    <!-- header -->
    <h3 class="ThemeTitle">@Html.DisplayFor(m => m.title)</h3>
     
    <!-- fields -->
    <div class="ThemeLbl" id="@Model.id.ToString().Insert(Model.id.ToString().Count(),"desc")">
    -@Model.description
    </div>
    
    
    <!-- interest buttons -->
    <div >
        @if (@Model.myInterest == 0)
        {
            <input type="button" class="boton-big-red ThemeButton" onclick="Remove(@Model.id);" name="buttonRemove" value="Remove" />
            <br />
        }
    </div>
</div>
