<!-- model -->
@model IndignadoWeb.UsersServiceReference.DTThemeCategoryUsers
           
<div>
    <!-- header -->
    <h5>@Html.DisplayFor(m => m.title)</h5>
     
    <!-- fields -->
    Internal ID: @Html.DisplayFor(m => m.id)
    <br />
    Movement ID: @Html.DisplayFor(m => m.idMovement)
    <br />
    Description: @Html.DisplayFor(m => m.description)
    <br />
    
    <!-- interest buttons -->
    @using (Html.BeginForm(new { id = @Model.id }))
    {
        if (@Model.myInterest == 0)
        {
            <input type="submit" name="buttonImInterested" value="Get interested" />
        }

        if (Model.myInterest > 0)
        {
            <text>I'm interested</text>
            <input type="submit" name="buttonNotInterested" value="Not anymore" />
        }
    }
</div>
