<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTUser
      
<li class="item">
    <div class="shadowl">
        <div class="shadowr">
            <div class="int">
                <div class="title">
                    <h3>@Html.ActionLink(@Model.id + " - " + @Model.username, "UserDetails", new { id = @Model.id })</h3>
                </div>
                <!-- header -->
    
                <div class="body">
                    <div class="desc" style="margin-top:5px; margin-bottom:10px;">
                        <div style="float:left;margin-left:20px;">
                            Full name: @Model.fullName                            
                            <br />
                            Resources marked as inappropriate: @Model.numberResourcesMarkedInappr
                        </div> 
                            
                        <div style="float:left;margin-left:40px;">
                            Mail: @Model.mail
                            <br />
                            Resources disabled: @Model.numberResourcesDisabled
                        </div>

                              
                    </div>

                    <div class="footer">
                        Register date: @Model.registerDate.ToString("yyyy-MM-dd HH:mm")

                        <div class="report">
                            <!-- ban / reallow -->
                            @using (Html.BeginForm(new { id = @Model.id }))
                            {
                                if (!@Model.banned)
                                {
                                    <input type="submit" class="boton-big-red" name="buttonBan" value="Ban user" />
                                }

                                else
                                {
                                    <text><b>User banned</b></text>
                                    <input type="submit" class="boton-big-red" name="buttonReallow" value="Reallow user" />
                                }
                            }  
                        </div>
                    </div>
            </div>
        </div>
    </div>
</li>
