<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTUser
           
<div>
    <!-- header -->
    <h3>@Html.ActionLink(@Model.id + " - " + @Model.username, "UserDetails", new { id = @Model.id })</h3>
    
    <!-- fields -->
    Full name: @Model.fullName
    <br />
    Mail: @Model.mail
    <br />
    Register date: @Model.registerDate.ToString("yyyy-MM-dd HH:mm")
    <br />
    <br />

    Resources marked as inappropriate: @Model.numberResourcesMarkedInappr
    <br />
    Resources disabled: @Model.numberResourcesDisabled
    <br />
    <br />

    <!-- ban / reallow -->
    @using (Html.BeginForm(new { id = @Model.id }))
    {
        if (!@Model.banned)
        {
            <input type="submit" name="buttonBan" value="Ban user" />
        }

        else
        {
            <text><b>User banned</b></text>
            <input type="submit" name="buttonReallow" value="Reallow user" />
        }
    }
</div>
