<!-- model -->
@model IndignadoWeb.Models.SingleMovementModel

<!-- scripts -->
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<!-- page title -->
@{
    ViewBag.Title = Model.name + " - Home page - powered by Indignado Framework";
}

<!-- scripts -->

<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDMxElmlzDp8EFWG0el5fZxRrRzN3E3NRU&sensor=false">
</script>

<script type="text/javascript">
    
    
    function googleMapsInitialize() {
        // initialize map
        var myOptions = {
            center: new google.maps.LatLng(@Model.locationLati.ToString().Replace(",", "."), @Model.locationLong.ToString().Replace(",", ".")),
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var infoWindow = new google.maps.InfoWindow({ content : "cargando..."});
            
        @{
        String latitud = @Model.locationLati.ToString().Replace(",", ".");
        String longitud = @Model.locationLong.ToString().Replace(",", ".");

        <text>
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(@latitud, @longitud),
                map: map
            });
        </text>
        }
    }
</script>

<!-- page content -->

<h2>@Html.DisplayFor(m => m.name) - Home page</h2>

<font size="3">@Html.DisplayFor(m => m.description)</font>
<br />
<br />

<!-- page content -->

<div id="map_canvas" style="width: 400px; height:300px ; margin-left:220px;border-style:outset; border-width:2px; border-color:Gray; box-shadow:0 1px 2px #aaa; -moz-box-shadow:0 2px 3px #AAAAAA" ></div>

<script type="text/javascript">googleMapsInitialize();</script>

